.tab-panel-box {
  display: none;
  pointer-events: none;
  padding: 25px;
  border: 4px solid transparent;
  outline: none;
}

.tab-panel-box:focus,
.tab-panel-box:hover,
.tab-panel-box:active {
  border: 4px solid #bde0fe;
}

.tab-panel-box-active {
  pointer-events: all;
  display: block;
}
